.rest {
  display: none;
  color: #FF0000;
}

.container{
  margin: auto;
  width:600px;
  border: 1px solid blue;
}

.walrus-showing {
  display: none;
  text-align: center;
}

.walrus-hidden {
  text-align: center;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}
.clickable:hover {
  text-decoration: underline;
}

.generals {
float: right;
display: none;
}

.awesome {
  float: left;
  display: none;
}

#peek {
  text-align: center;
}


#boo {
  text-align: center;
  cursor: pointer;
  color: #0088cc;
}

#boo:hover{
  text-decoration: underline;
}
